<div class="max-w-3xl text-start mx-auto">
  <h1>Ta'awon Project - Visitor Registration</h1>
  <h2>Kindly read the instructions before filling the application,</h2>
  <div class="content my-5 bg-">
    <p>
      To grant entry access for the visitors at Ta'awon Project, Contractors and
      Subcontractors must complete the application 48 hours in advance.
    </p>
    <p>
      The host is expected to welcome visitors at the reception (Front Desk).
    </p>
    <p>Live Site visit requires PPE and Safety Induction.</p>
    <p>For security reasons, do not share the link with others.</p>
  </div>

  <p>
    The host is expected to welcome visitors at the reception (Front Desk). -
    Live Site visit requires PPE and Safety Induction. - For security reasons,
    do not share the link with others.
  </p>
</div>
